extends layout
block scripts
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
   script(src="javascripts/index.js")

block content
    div(ng-app="nightlife" ng-controller="NightlifeCtrl as nl")
        div#authenticator(class="ng-cloak" ng-show="!user || initialHide")
            button#login-tab-button(class="btn" ng-click="switchTab(0)")
                | Login
            button#register-tab-button(class="btn" ng-click="switchTab(1)")
                | Register
            form#authentication-form(novalidate)
                input#username-input(type="text" class="authenticator-input" ng-model="username" placeholder="Username")
                input#password-input(type="password" class="authenticator-input" ng-model="password" placeholder="Password")
                input#confirm-input(type="password" ng-show="tab === 1" class="authenticator-input" ng-model="confirm" placeholder="Confirm")
                button#submit-authentication-form-button(class="btn" ng-click="submitAuthenticationForm()")
                    | Submit
        div#user-tools(class="ng-cloak" ng-show="user || initialHide")
            h3 Hello, {{user.username}}!
            button(class="btn" ng-click="logout()")
                | Logout
        div#display
            button(class="btn" ng-click="findBars()")
                | Find local bars
            div(ng-repeat="bar in bars" ng-cloak)
                h4.bar-name
                    | {{ bar.name }}
                h4.bar-visitors
                    | {{ bar.attending }}
                button(class="btn" ng-click="attend($index)" ng-show="user")
                    | Attend
        div#viewMessage(ng-class="messageFade" ng-show="viewMessageVisible" ng-cloak)
            h2 {{ message.title }}
            p {{ message.text }}