@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #fffbfd;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

input.authenticator-input {
  height: 2em;
  font-size: 1.5em;
  border: 0;
  padding: 0; }

.authenticator-input {
  display: block; }

.fade-in {
  opacity: 1;
  transition: 0.2s; }

.fade-out {
  opacity: 0;
  transition: 0.2s; }

.authenticator-input {
  width: 100%; }

.tab-btn {
  cursor: pointer;
  height: 3em;
  border: 0;
  background-color: #e44010;
  z-index: 1;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); }
  .tab-btn:focus {
    outline: 0; }
  .tab-btn:hover {
    background-color: #ef4d1e; }
  .tab-btn.active-tab {
    border-top: 1px solid #f48666;
    position: relative;
    background-color: #f16036;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2; }

@media screen and (min-width: 650px) {
  #user-handling {
    position: absolute;
    right: 0;
    width: calc(38.2% - 1em); }
  #bar-display {
    width: 61.8%; } }

@media screen and (max-width: 649px) {
  body {
    padding: 10px; }
  #bar-display {
    width: 100%; } }

#nightlife-application {
  position: relative; }

#authenticator {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

#bar-display {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #fffbfd; }

#login-tab-button {
  width: 50%;
  left: 0; }

#register-tab-button {
  width: 50%;
  right: 0; }

#authenticator-form {
  width: 100%; }

#submit-authentication-form-button {
  cursor: pointer;
  height: 3em;
  border: 0;
  background-color: #f16036;
  z-index: 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  #submit-authentication-form-button:hover {
    background-color: #e54010; }

#user-tools {
  position: relative;
  background-color: #f16036;
  height: 3em;
  text-align: center; }
  #user-tools > #greeting {
    position: absolute;
    top: 0.8em;
    left: 2%;
    margin: 0; }
  #user-tools > #logout-button {
    padding: 0.3em;
    border: 0;
    background-color: #f47e5c;
    top: 1em;
    align-self: center;
    position: absolute;
    right: 2%; }
    #user-tools > #logout-button:hover {
      background-color: #f3734e; }

.bar {
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
  position: relative;
  height: 55px; }
  .bar > .bar-name {
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 0;
    width: 90%;
    font-size: 1.5em;
    margin: 0.2em;
    text-align: center; }
  .bar > .bar-name.logged-in {
    left: 60px;
    width: calc(90% - 60px); }
  .bar > .bar-visitors {
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 0.2em;
    right: 1em; }
  .bar > span {
    height: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #171a21;
    z-index: 0; }
  .bar > button {
    z-index: 1;
    background-color: #798a8e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    border: 0;
    margin: 0;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), inset 0 -1px 2px rgba(0, 0, 0, 0.2); }
    .bar > button:hover {
      background-color: #617073; }
    .bar > button:focus {
      outline: 0; }
  .bar > .bar-user-is-attending-button {
    background-color: #34a963; }
    .bar > .bar-user-is-attending-button:hover {
      background-color: #28824c; }

#view-message {
  z-index: 10;
  align-content: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #f16036;
  border-radius: 10px;
  background-color: #617073;
  position: absolute;
  top: 0;
  padding: 10px;
  margin: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
  #view-message > {
    text-align: center; }

#nightlife-application {
  position: relative; }
