body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

input.authenticator-input {
  height: 2em;
  font-size: 1.5em;
  border: 0;
  padding: 0; }

.authenticator-input {
  display: block; }

.fade-in {
  opacity: 1;
  transition: 0.2s; }

.authenticator-input {
  width: 100%; }

.tab-btn {
  cursor: pointer;
  height: 3em;
  border: 0;
  background-color: #e99327;
  z-index: 1;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); }
  .tab-btn:focus {
    outline: 0; }
  .tab-btn:hover {
    background-color: #ec9e3e; }
  .tab-btn.active-tab {
    border-top: 1px solid #f3c183;
    position: relative;
    background-color: #eeaa55;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    z-index: 2; }

@media screen and (min-width: 650px) {
  #authenticator {
    position: absolute;
    right: 0;
    width: calc(38.2% - 1em); }
  #bar-display {
    width: 61.8%; } }

@media screen and (max-width: 649px) {
  body {
    padding: 10px; }
  #bar-display {
    width: 100%; } }

#nightlife-application {
  position: relative; }

#authenticator {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

#bar-display {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); }

#login-tab-button {
  width: 50%;
  left: 0; }

#register-tab-button {
  width: 50%;
  right: 0; }

#authenticator-form {
  width: 100%; }

#submit-authentication-form-button {
  cursor: pointer;
  height: 3em;
  border: 0;
  background-color: #eeaa55;
  z-index: 1;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  #submit-authentication-form-button:hover {
    background-color: #e99327; }
